@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Blinker:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Ultra&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* font-family: 'Alfa Slab One', cursive;
  font-family: 'Bebas Neue', cursive; */
  font-family: 'Blinker', sans-serif;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Ultra', serif; */
}
